span{
    font-size: 50px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.button-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
.btn {
    border: 1px solid #000;
    padding: 15px;
    border-radius: 10px;
}
